html {
  font-size: 10px;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;

  background: url("http://nextgengamingblog.com/files/2015/03/rockband2_hero_vf2.jpg") no-repeat bottom center;
  background-size: cover;
  -webkit-filter: grayscale(0.6);
  filter: grayscale(0.6);
}

.keys__key {
  border: .4rem solid white;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all 0.07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 0.5rem black;
}

.key--playing {
  transform: scale(1.1);
  border-color: #00B0D0;
  box-shadow: 0 0 1rem #00B0D0;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #00B0D0;
}
